*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{font-family: "PingFangSCRegular";}
/* .v-center{vertical-align: middle;} */
/* 机酒自由行 */
.jjzyx{background-color: #fff;padding: 60px 0; height: 738px; margin-bottom: 15px;}
.center{width: 1154px; margin: 0 auto;}
.headline::after{content: ""; display: block; clear: both;}
.headline>h2{float: left;; font-size: 36px; font-weight: bold; color: #1c1f21;}
.headline>span{ position: relative; top: 20px;left: 10px; }
.headline .nav{float: right; padding-top: 16px;}
.headline .nav>li{float: left;margin-right: 16px; font-size: 14px;}
.headline .nav .active{border-bottom: 4px solid #20bd9a;padding-bottom: 4px;}
.headline .nav .active a{color: #20bd9a;}
.headline .nav-link{text-decoration: none; color: rgba(0,0,0,.85);}

.desc{padding-top: 30px; justify-content: space-between; flex-wrap: wrap; width: 1154px; height: 634px; position: absolute; display: none;}
.desc .big-grid{width: 560px; height: 270px; position: relative; overflow: hidden;}
.desc .tag{
  position: absolute;
  width: 74px;height: 40px;
  color: #fff;
  background-color: rgba(0,0,0,.55);
  bottom: 103px;left: 0;
  text-align: center;line-height: 40px;
  z-index: 33;
}
.desc .big-grid .info{
  position: absolute;
  width: 560px; height: 103px;
  color: #fff;
  background-color: rgba(0,0,0,.55);
  bottom: 0;left: 0;
  padding: 30px 26px;
  line-height: 26px;
}
.desc .pro-grid{
  width: 264px; height: 270px;
  margin-bottom: 32px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);
}
.desc .pro-grid .picbox{
  overflow: hidden;
  position: relative;
  height: 184px;
}
.desc .pro-grid .tag{bottom: 0;}
.desc .pro-grid .info{
  padding: 14px;
  font-size: 14px;
  color: #1c1f21;
  line-height: 26px;
}
.desc .more-grid{
  width: 264px;height: 270px;
  background-image: linear-gradient(180deg,#34e3bc 0%,#15af7a 98%);
  position: relative;
  cursor: pointer;
}
.desc .more-grid a{
  display: block;
  padding-top: 46px;
}
.desc .more-grid p{
  text-align: center;
  line-height: 24px;
  font-size: 15px;
  color: #fff;
}
.desc .more-grid .icon{
  position: absolute;
  width: 48px;height: 48px;
  left: 50%;
  top: 118px;
  margin-left: -24px;
}

.desc .more-grid ul{
  margin: 112px 0 0 40px;
  display: flex;
  color: #fff;
}
.desc .more-grid ul>li{
  height: 14px;
  border-right: 1px solid #fff;
  padding: 0 9px;
  line-height: 14px;
  font-size:14px ;
}
.desc .more-grid ul>li:last-child{
  border: none;
}
.big-grid:hover,.pro-grid:hover,.more-grid:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}
.big-grid img,.pro-grid img{
  transition: .4s;
}
.big-grid img:hover,.pro-grid img:hover{
  transform: scale(1.1);
}

@keyframes bounce{
  from{transform: translateY(-10px);}
  25%{transform: translateY(10px);}
  50%{transform: translateY(-10px);}
  75%{transform: translateY(10px);}
  to{transform: translateY(-10px);}
}
.desc .more-grid:hover .icon{
  animation: bounce 2s ease-out infinite ;
}



.jjzyx .desc:first-child{display: flex;}
.ddwl .desc:first-child{display: flex;}
/* .desc:nth-child(2){background-color: #f00;}
.desc:nth-child(3){background-color: #ff0;}
.desc:nth-child(4){background-color: #0ff;}
.desc:nth-child(5){background-color: #00f;}
.desc:nth-child(6){background-color: #0f0;}
.desc:nth-child(7){background-color: #f0f;}
.desc:nth-child(8){background-color: #ccc;} */



/* 当地玩乐 */
.ddwl{padding-top: 40px; height: 583px; background-color: #f7f7f7;}
.ddwl .desc{padding-top: 32px;}
.ddwl .desc .col{
  width: 364px;height: 480px;
}
.ddwl .bigbox{
  width: 364px;height: 270px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.ddwl .bigbox .info{
  width: 364px;height: 104px;
  position: absolute;
  left: 0; bottom: 0;
  color: #fff;
  background-color: rgba(0,0,0,.55);
  padding: 21px 17px 0;
  font-size: 14px;
}
.ddwl .bigbox .top{margin-top: 10px;display: flex; justify-content:space-between;}
.ddwl .bigbox .price>span{color: #36DFBA;}
.ddwl .grid{
  width: 364px; height: 120px;
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  margin-bottom: 30px;
}
.ddwl .grid .picbox{width: 120px; height: 120px; float: left; overflow: hidden;}
.ddwl .grid .pres{
  width: 244px; height: 120px;
  float: left;
  padding: 26px 18px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.08);
  font-size: 14px;
}
.ddwl .col .more-grid{
  width: 364px;
  background: linear-gradient(180deg,#ff6374 0% , #ff7368 100%);
}
.grid:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}
.bigbox img,.picbox img{
  transition: .4s;
}
.bigbox img:hover,.picbox img:hover{
  transform: scale(1.1);
}